In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [3]:
ss=pd.read_csv("ind-us.csv")

In [4]:
ss

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,03-01-2020,IN,India,SEARO,0,0,0,0
1,04-01-2020,IN,India,SEARO,0,0,0,0
2,05-01-2020,IN,India,SEARO,0,0,0,0
3,06-01-2020,IN,India,SEARO,0,0,0,0
4,07-01-2020,IN,India,SEARO,0,0,0,0
...,...,...,...,...,...,...,...,...
1061,14-06-2021,US,United States of America,AMRO,11678,33132301,224,594496
1062,15-06-2021,US,United States of America,AMRO,8197,33140498,148,594644
1063,16-06-2021,US,United States of America,AMRO,11180,33151678,244,594888
1064,17-06-2021,US,United States of America,AMRO,11954,33163632,368,595256
1065,18-06-2021,US,United States of America,AMRO,11767,33175399,335,595591

In [5]:
ss['Date_reported'] = pd.to_datetime(ss['Date_reported'])

In [6]:
ss['Year'] = ss['Date_reported'].dt.year
ss['Month'] =ss['Date_reported'].dt.month
ss['Day'] = ss['Date_reported'].dt.day
ss['dayOfWeek'] = ss['Date_reported'].dt.day_name()
ss['WeekOfYear'] = ss['Date_reported'].dt.weekofyear

ss.head(419)

E:\anaconda3\envs\test-env\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,Year,Month,Day,dayOfWeek,WeekOfYear
0,2020-03-01,IN,India,SEARO,0,0,0,0,2020,3,1,Sunday,9
1,2020-04-01,IN,India,SEARO,0,0,0,0,2020,4,1,Wednesday,14
2,2020-05-01,IN,India,SEARO,0,0,0,0,2020,5,1,Friday,18
3,2020-06-01,IN,India,SEARO,0,0,0,0,2020,6,1,Monday,23
4,2020-07-01,IN,India,SEARO,0,0,0,0,2020,7,1,Wednesday,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2021-02-20,IN,India,SEARO,13993,10977387,101,156212,2021,2,20,Saturday,7
415,2021-02-21,IN,India,SEARO,14264,10991651,90,156302,2021,2,21,Sunday,7
416,2021-02-22,IN,India,SEARO,14199,11005850,83,156385,2021,2,22,Monday,8
417,2021-02-23,IN,India,SEARO,10584,11016434,78,156463,2021,2,23,Tuesday,8
418,2021-02-24,IN,India,SEARO,13742,11030176,104,156567,2021,2,24,Wednesday,8

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ss['Country']=le.fit_transform(ss['Country'].astype("str"))
ss['Country'].value_counts()

0    533
1    533
Name: Country, dtype: int64

In [8]:
y=ss['New_cases']

In [9]:
X = ss[['Day','Month','Year','Country']]

In [10]:
poly2 = PolynomialFeatures(degree =2)
X_poly = poly2.fit_transform(X)

In [11]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=15, random_state=0)
regressor.fit(X_poly,y)

RandomForestRegressor(n_estimators=15, random_state=0)

In [12]:
print(regressor.score(X_poly, y))

0.9911830105910028

In [13]:
Day = 23
Month =2
Year =2021
Country =0
#Samples = Samples_31_July[0,0]
X1 = np.array([[Day,Month,Year,Country]])
Total_infections  = regressor.predict(poly2.fit_transform(X1))

In [14]:
print('Total No of cases -> {}'.format(int(Total_infections[0])))

Total No of cases -> 81

In [13]:
import pickle

pickle.dump(poly2,open('polyss.pkl','wb'))
pol = pickle.load(open('polyss.pkl','rb'))

In [14]:
import pickle

pickle.dump(regressor,open('regresoss.pkl','wb'))
regress = pickle.load(open('regresoss.pkl','rb'))